# Database Configuration
DATABASE_URL=postgresql://postgres:12345678@localhost:5432/Job_assistant
DB_NAME=Job_assistant
DB_USER=postgres
DB_PASSWORD=12345678
DB_HOST=localhost
DB_PORT=5432

# API Keys and Email
GROQ_API_KEY=your_groq_api_key_here
HF_TOKEN=your_huggingface_api_token_here
EMAIL=your_email_address@gmail.com
PASSWORD=your_gmail_app_password_here
IMAP_SERVER=imap.gmail.com
GROQ_BACKUP_API_KEY=your_backup_groq_api_key_here
OPENROUTER_API_KEY=your_openrouter_api_key_here
