fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
playwright
groq
pydantic
pydantic-settings
jinja2
python-multipart
beautifulsoup4
pytest
alembic
requests
huggingface_hub
openai
pyyaml
pdfminer.six
watchfiles
